@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

.container {
    position: relative;
}

.search-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
  
.search {
    width: 200px;
    padding: 5px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
  
.master-delete {
    width: 25px;
    height: auto;
    margin-right: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}

.table-container {
    margin-left: 20px;
    margin-right: 20px;
}

.users-table {
    width: calc(100% - 40px);
    margin: 0 auto;
    border-collapse: collapse;
}

.table-header {
    width: auto;
    padding-left: 20px;
    border: 2px solid black;
}

.users-table td {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    justify-content: space-between;
}

.table-row {
    border: 2px lightgray solid;
}

.edit {
    width: 20px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
  
.delete {
    width: 20px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px;
}


  
